<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.placemark">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
      android:name=".main.MainApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".views.placemarklist.PlacemarkListView"
        android:label="@string/title_activity_placemark_list"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".views.placemark.PlacemarkView"
        android:label="@string/title_activity_placemark">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.placemarklist.PlacemarkListView" />
    </activity>

    <activity
        android:name=".views.editlocation.EditLocationView"
        android:label="@string/title_activity_edit_location">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.placemark.PlacemarkView" />
    </activity>

    <activity
        android:name=".views.map.PlacemarkMapView"
        android:label="@string/title_activity_placemark_maps"
        android:launchMode="singleTop">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.placemarklist.PlacemarkListView" />
    </activity>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

  </application>

</manifest>